//
// Buttons
// 

.v_btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;

	border-radius: .4rem;

	font-family: $font-family-base;
	font-weight: 600;
	font-size: 1.4rem;

	transition-duration: .2s;
	transition-property: transform, opacity;
	will-change: transform;

	.v_ico {
		flex: 0 0 auto;

		&:first-child {
			margin-right: .4rem;
		}

		&:only-child {
			margin-left: 0;
			margin-right: 0;
		}
	}

	*+.v_ico {
		margin-left: .4rem;
	}

	&:disabled,
	&.disabled {
		cursor: default;

		&:hover,
		&:focus,
		&:active {
			outline: 0;
		}
	}
}

// size
.btn_xs {
	border: 1px solid transparent;
	min-width: 4rem;
	height: 3rem;
	padding: 0 1.2rem;
	font-size: 1.2rem;
}

.btn_sm {
	border: 1px solid transparent;
	min-width: 4rem;
	height: 3.6rem;
	padding: 0 1.2rem;
	font-size: 1.2rem;
}

.btn_md {
	border: 1px solid transparent;
	min-width: 5.6rem;
	height: 4rem;
	padding: 0 1.6rem;
	font-size: 1.4rem;
}

.btn_lg {
	border: 1px solid transparent;
	min-width: 6.4rem;
	height: 5.2rem;
	padding: 0 2rem;
	font-size: 1.4rem;
}

// form
.btn_block {
	display: flex;
	width: 100%;
}

// color
.btn_primary {
	color: $white;
	background-color: $primary;

	&:hover,
	&:focus {
		background-color: #008bc7;
	}

	&:active {
		background-color: #0082b9;
	}

	&:disabled,
	&.disabled {
		color: #d6eef8;
		background-color: #99d4ed;
	}
}

.btn_outline_primary {
	border: 1px solid $primary;
	color: $primary;
	background-color: $white;

	&:hover,
	&:focus {
		border-color: #008bc7;
		color: #008bc7;
		background-color: #f0f0f0;
	}

	&:active {
		border-color: #0082b9;
		color: #0082b9;
		background-color: #e0e0e0;
	}

	&:disabled,
	&.disabled {
		border-color: #99d4ed;
		color: #99d4ed;
	}
}

.btn_secondary {
	border: 1px solid $secondary;
	color: $white;
	background-color: $secondary;

	&:hover,
	&:focus {
		background-color: #566dc3;
	}

	&:active {
		background-color: #5066b6;
	}

	&:disabled,
	&.disabled {
		color: #e5e9f7;
		background-color: #bdc7ec;
	}
}

.btn_outline_secondary {
	border: 1px solid $secondary;
	color: $secondary;
	background-color: $white;

	&:hover,
	&:focus {
		border-color: #566dc3;
		color: #566dc3;
		background-color: #f0f0f0;
	}

	&:active {
		border-color: #5066b6;
		color: #5066b6;
		background-color: #e0e0e0;
	}

	&:disabled,
	&.disabled {
		border-color: #bdc7ec;
		color: #bdc7ec;
	}
}

.btn_neutral {
	border: 1px solid transparent;
	color: $gray;
	background-color: $neutral;

	&:hover,
	&:focus {
		color: #66707a;
		background-color: #e5e7e8;
	}

	&:active {
		color: #66707a;
		background-color: #d5d7d8;
	}

	&:disabled,
	&.disabled {
		color: #a1a7ad;
		background-color: #fafbfb;
	}
}

.btn_outline_neutral {
	border: 1px solid #E7EBEE;
	color: $gray;
	background-color: $white;

	&:hover,
	&:focus {
		border-color: #d9dde0;
		color: #66707a;
		background-color: #f0f0f0;
	}

	&:active {
		border-color: #cbced1;
		color: #66707a;
		background-color: #e0e0e0;
	}

	&:disabled,
	&.disabled {
		border-color: #f5f7f8;
		color: #a3a9af;
	}
}
.btn_outline_error {
	border: 1px solid #E7EBEE;
	color: #E22A21;
	background-color: $white;

	&:hover,
	&:focus {
		border-color: #d9dde0;
		color: #E22A21;
		background-color: #f0f0f0;
	}

	&:active {
		border-color: #cbced1;
		color: #E22A21;
		background-color: #e0e0e0;
	}

	&:disabled,
	&.disabled {
		border-color: #f5f7f8;
		color: #e14f48;
	}
}

.btn_text_primary {
	height: 3rem;
	padding: 0 1rem;
	color: $primary;
	font-weight: 400;
	letter-spacing: 0;

	&:hover,
	&:focus {
		color: #008bc7;
		background-color: #f0f0f0;
	}

	&:active {
		color: #0082b9;
		background-color: #e0e0e0;
	}

	&:disabled,
	&.disabled {
		color: #99d4ed;
	}

	&.btn_xs {
		padding: 0 1rem;
	}
}

.btn_text_gray {
	height: 3rem;
	padding: 0 1rem;
	color: #7F8A94;
	font-weight: 400;
	letter-spacing: 0;

	&:hover,
	&:focus {
		color: #66707a;
		background-color: #f0f0f0;
	}

	&:active {
		color: #66707a;
		background-color: #e0e0e0;
	}

	&:disabled,
	&.disabled {
		color: #a3a9af;
	}
}

// Button group
.btn_group {
	display: flex;
	gap: 1rem;

	>div {
		display: flex;
		gap: 1rem;
	}

	.left {
		margin-right: auto;
	}

	.right {
		margin-left: auto;
	}

	.center {
		margin: auto;
	}
}