.v_wrapper {
  position: relative;
  min-width: 155rem;
}

#v_container > .v_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#v_header {
  height: 8rem;
  border-bottom: 1px solid #DCE0E5;
  background-color: #fff;
}
#v_header > .v_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  padding: 2rem 4rem 2rem 3rem;
}
#v_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
#v_logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.4rem;
}
#v_logo .text {
  color: #181A1B;
  font-weight: 600;
  font-size: 1.6rem;
}

.search_form {
  position: relative;
  height: 4rem;
}
.search_form .form_control {
  height: 4rem;
  padding: 0.5rem 6.5rem 0.5rem 2rem;
  border-radius: 3rem;
}
.search_form .btn_search {
  position: absolute;
  top: calc(50% - 1.2rem);
  right: 2rem;
}
.search_form .btn_search:before {
  content: "";
  position: absolute;
  top: calc(50% - 0.7rem);
  right: 3.5rem;
  width: 1px;
  height: 1.4rem;
  background-color: #DCE0E5;
}

#v_header .search_form .form_control {
  width: 46rem;
}
#v_header .util_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#v_header .util_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
#v_header .util_user .user_pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  overflow: hidden;
}
#v_header .util_user .user_pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#v_header .util_user .user_name {
  color: #181A1B;
  font-weight: 600;
}
#v_header .util_lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-left: 3rem;
}
#v_header .util_lang .v_btn {
  min-width: 7.5rem;
  height: 3rem;
  border: 1px solid #0094D3;
  border-radius: 2.8rem;
  color: #0094D3;
  font-weight: 500;
}
#v_header .util_lang .v_btn:not(.active):hover {
  border-color: #008bc7;
  color: #008bc7;
  background-color: #f0f0f0;
}
#v_header .util_lang .v_btn.active {
  color: #fff;
  background-color: #0094D3;
}
#v_header .util_ctrl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-left: 2rem;
}
#v_header .util_ctrl .v_btn {
  position: relative;
}
#v_header .util_ctrl .v_btn.active:after {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #E22A21;
}

#v_sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  width: 1.8rem;
  -webkit-transform: translateX(-29rem);
          transform: translateX(-29rem);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
#v_sidebar .sidebar_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 29rem;
  height: 100%;
  min-height: calc(100vh - 8rem);
  border-right: 1px solid #DCE0E5;
  background-color: #fff;
}
#v_sidebar .tab_menu {
  margin-bottom: 0;
}
#v_sidebar .sidebar_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 12.5rem);
  padding-bottom: 2rem;
  max-height: calc(100vh - 12.5rem);
  overflow-y: auto;
}
#v_sidebar .lnb_area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 1.5rem;
}
#v_sidebar .lnb_area .depth1 > li {
  border-bottom: 1px solid #E7EBEE;
}
#v_sidebar .lnb_area .depth1 > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 4rem 1.5rem 1.5rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
#v_sidebar .lnb_area .depth1 > li.collapse > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
#v_sidebar .lnb_area .depth1 > li.collapse > a:after {
  content: "";
  position: absolute;
  top: calc(50% - 0.8rem);
  right: 1.5rem;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../images/common/ico_plus.png) no-repeat 50% 50%;
}
#v_sidebar .lnb_area .depth1 > li.collapse:not(.show) {
  display: block;
}
#v_sidebar .lnb_area .depth1 > li.on > a {
  color: #fff;
  text-shadow: 0 0 0.05rem #fff;
  background-color: #0094D3;
}
#v_sidebar .lnb_area .depth1 > li.on > a:after {
  background-image: url(../images/common/ico_minus.png);
}
#v_sidebar .lnb_area .depth1 > li.on .depth2 {
  display: block;
}
#v_sidebar .lnb_area .depth2 {
  padding: 1rem 6.7rem 1.2rem 3rem;
}
#v_sidebar .lnb_area .depth2 li {
  margin-top: 1.5rem;
}
#v_sidebar .lnb_area .depth2 li a {
  display: block;
  position: relative;
  padding-left: 1.4rem;
  color: #525960;
  font-size: 1.5rem;
  letter-spacing: -0.03em;
  line-height: 1.5rem;
}
#v_sidebar .lnb_area .depth2 li a:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../images/common/ico_chevron_right_sm.png) no-repeat 50% 50%;
}
#v_sidebar .lnb_area .depth2 li:first-child {
  margin-top: 0;
}
#v_sidebar .lnb_area .depth2 li.on a, #v_sidebar .lnb_area .depth2 li:hover a {
  color: #0094D3;
  text-shadow: 0 0 0.06rem #0094D3;
}
#v_sidebar .lnb_area .depth2 li.on a:before, #v_sidebar .lnb_area .depth2 li:hover a:before {
  background-image: url(../images/common/ico_chevron_right_sm_primary.png);
}
#v_sidebar .todo_area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.5rem 1rem 0.4rem;
}
#v_sidebar .todo_area .todo_item .todo_tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
  padding: 1.2rem 1.5rem;
  border-bottom: 1px solid #DCE0E5;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  background-color: #F9FAFB;
}
#v_sidebar .todo_area .todo_item .todo_tit > span {
  margin-right: auto;
  line-height: 2.2rem;
}
#v_sidebar .todo_area .todo_item .todo_tit.on {
  border-color: #A4E1FB;
  background-color: #F5FBFE;
}
#v_sidebar .todo_area .todo_item .btn_more {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: auto;
  padding: 0.3rem 0;
  color: #66707A;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: -0.03em;
}
#v_sidebar .todo_area .todo_item .btn_more .v_ico {
  margin-right: 0.2rem;
}
#v_sidebar .todo_area .todo_item .todo_list {
  padding: 1rem 5.7rem 1.5rem 2rem;
}
#v_sidebar .todo_area .todo_item .todo_list li {
  margin-top: 1rem;
}
#v_sidebar .todo_area .todo_item .todo_list li a {
  display: block;
  position: relative;
  padding-left: 1.4rem;
  color: #525960;
  font-size: 1.5rem;
  letter-spacing: -0.03em;
  line-height: 1.5rem;
}
#v_sidebar .todo_area .todo_item .todo_list li a:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../images/common/ico_chevron_right_sm.png) no-repeat 50% 50%;
}
#v_sidebar .todo_area .todo_item .todo_list li:first-child {
  margin-top: 0;
}
#v_sidebar .todo_area .todo_item .todo_list li.on a, #v_sidebar .todo_area .todo_item .todo_list li:hover a {
  color: #0094D3;
  text-shadow: 0 0 0.06rem #0094D3;
}
#v_sidebar .todo_area .todo_item .todo_list li.on a:before, #v_sidebar .todo_area .todo_item .todo_list li:hover a:before {
  background-image: url(../images/common/ico_chevron_right_sm_primary.png);
}
#v_sidebar .todo_area .todo_item + .todo_item {
  margin-top: 1rem;
}
#v_sidebar .shortcut_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 29rem;
          flex: 0 0 29rem;
  width: 100%;
  margin-top: 1.4rem;
  padding: 1.5rem;
}
#v_sidebar .shortcut_wrap .v_btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 1rem);
          flex: 0 0 calc(50% - 1rem);
  height: 12rem;
  margin: 0.5rem;
  border-radius: 0.6rem;
  background-color: #F9FAFB;
}
#v_sidebar .btn_sidebar {
  position: absolute;
  top: calc(50vh - 12.3rem);
  left: 29rem;
  width: 1.8rem;
}
#v_sidebar.open {
  width: 29rem;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#v_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: calc(100vh - 8rem);
  max-height: calc(100vh - 8rem);
  padding: 2rem 2rem 0;
  overflow-y: auto;
}
#v_content > .content_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3rem;
  border-radius: 2rem;
  background-color: #fff;
}
.content_util {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-bottom: 3rem;
}
.content_util .title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.content_util .content_tit {
  color: #181A1B;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.3rem;
}
.content_util .btn_favorite.on .v_ico {
  background-image: url(../images/common/ico_bookmark_on.png);
}
.content_util .btn_sm {
  letter-spacing: -0.005em;
}

.v_breadcrumb {
  margin-left: auto;
}
.v_breadcrumb .path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.v_breadcrumb .path li {
  color: #66707A;
}
.v_breadcrumb .path li + li:before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  background: url(../images/common/ico_chevron_right.png) no-repeat 50% 50%;
}

.content_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#v_content .btn_group_fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-top: 3rem;
}

#v_footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4rem;
          flex: 0 0 4rem;
  margin-top: 3rem;
  border-top: 1px solid #DCE0E5;
  text-align: center;
}
#v_footer .address {
  color: #66707A;
  font-style: normal;
  font-size: 1.5rem;
  letter-spacing: -0.03em;
  line-height: 3.9rem;
}

#v_quickmenu {
  position: fixed;
  top: 8rem;
  right: 0;
  bottom: 0;
  letter-spacing: -0.05em;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
#v_quickmenu .btn_quickmenu {
  display: none;
  position: absolute;
  top: calc(50% - 6.5rem);
  left: -6rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: -0.05em;
  line-height: 1.1rem;
  overflow: hidden;
  background-color: #5B74CF;
}
#v_quickmenu .quick_wrap {
  width: 32rem;
  height: 100%;
  border-left: 1px solid #00A0E3;
  background-color: #fff;
}
#v_quickmenu .quick_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  padding: 0 2rem 0 3rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  background-color: #00A0E3;
}
#v_quickmenu .btn_quick_close {
  margin-left: auto;
}
#v_quickmenu .link_wrap {
  max-height: calc(100% - 6rem);
  padding: 2rem;
  overflow-y: auto;
}
#v_quickmenu .link_wrap .link_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 1px solid #DCE0E5;
}
#v_quickmenu .link_wrap .link_item a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  padding: 2rem 4.7rem 2rem 1rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
#v_quickmenu .link_wrap .btn_delete {
  position: absolute;
  top: calc(50% - 12px);
  right: 10px;
  z-index: 10;
}
#v_quickmenu.close {
  -webkit-transform: translateX(32rem);
          transform: translateX(32rem);
}
#v_quickmenu.close .btn_quickmenu {
  display: block;
}