/* Main */
.main_wrapper {
	#v_sidebar {
		&:not(.open) {
			+#v_content {
				padding-left: 2.2rem;
			}
		}
	}

	#v_content {
		padding: 4rem 4rem 0;

		>.content_inner {
			padding: 0;
			background-color: transparent;
		}
	}

	#v_footer {
		margin-top: 4rem;
	}

	@at-root .process_section {
		.process_list {
			display: flex;
			width: calc(100% + 4.4rem);
			margin: 0 -2.2rem;

			>li {
				flex: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				position: relative;
				height: 13.8rem;
				margin: 0 2.2rem;
				padding: 0 2.5rem;
				border-radius: 2rem;
				color: #181A1B;
				font-weight: 600;
				text-align: center;
				letter-spacing: -.02em;
				background-color: $white;

				.process_tit {
					display: inline-flex;
					align-items: center;
					height: 4rem;
					font-size: 1.7rem;
					line-height: 2rem;
				}

				.process_num {
					font-size: 3rem;

					&:before {
						content: '';
						display: block;
						width: 3rem;
						height: 1px;
						margin: 1.5rem auto;
						background-color: $border-color;
					}
				}

				&.active {
					color: $white;
					background-color: $primary;

					.process_num {
						&:before {
							background-color: $white;
						}
					}
				}

				+li {
					position: relative;

					&:before {
						content: '';
						display: inline-block;
						position: absolute;
						top: 50%;
						left: -3.5rem;
						width: 2.5rem;
						height: 2.4rem;
						background: url(#{$url-img-common}/ico_arr_right_gray.png) no-repeat 50% 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}

	@at-root .schedule_section {
		display: flex;
		margin-top: 3.1rem;
		padding: 3rem;
		border-radius: 2rem;;
		background-color: $white;

		.left {
			flex: 0 0 60.3rem;
			max-width: 60.3rem;
			padding-right: 3rem;
		}

		.right {
			flex: 1;
		}

		.calendar_wrap {
			padding: 2rem 2.6rem;

			.calendar_head {
				.calendar_tit {
					width: 30.7rem;
				}
			}

			.calendar_week {
				margin: 1.5rem 0 1rem;

				>div {
					line-height: 1.6rem;
				}
			}

			.calendar_days {
				>div {
					color: #181A1B;

					&:not(.past) {
						&:nth-child(7n+1) {
							color: $blue;
						}
		
						&:nth-child(7n) {
							color: $red;
						}
					}
				}
				.day {
					padding: .5rem .3rem;
					font-weight: 600;
				}

				.badge_wrap {
					top: 2.4rem;
					left: .2rem;
					gap: .15rem;
				}
			}

			.calendar_info {
				display: flex;
				gap: .5rem;
				margin-top: 1rem;

				.info_item {
					color: #525960;
					font-size: 1rem;
				}
			}
		}

		.table_list {
			td {
				padding: 1.4rem 0;
			}

			thead {
				th {
					height: 5rem;
				}
			}
		}

		.fixed_header {
			tbody {
				height: 320px;
			}

			th,
			td {
				&:nth-child(1),
				&:nth-child(2) {
					width: 40.5%;
				}
			}
		}
	}

	@at-root .news_section {
		position: relative;
		margin-top: 3.1rem;
		padding: 2rem;
		border-radius: 2rem;
		background-color: #445175;

		.news_head {
			display: flex;
			align-items: center;
			margin-bottom: 1rem;
			padding: 0 1rem;

			.left {
				margin-right: auto;
			}

			.right {
				margin-left: auto;
			}

			.v_tit {
				color: $white;
				font-size: 2rem;
			}

			.news_ctrl {
				display: flex;
				align-items: center;
				gap: 5.7rem;
			}

			.btn_wrap {
				display: flex;
				gap: 5.7rem;

				.v_btn {
					color: rgba(255, 255, 255, .5);
					font-size: 1.8rem;

					&.on {
						color: $white;
					}
				}
			}

			.slider_nav {
				display: flex;
				gap: 1rem;

				.v_btn {
					&:disabled {
						opacity: .5;
					}
				}
			}
		}

		@at-root .news_slider {
			padding: 2rem;
			border-radius: 2rem;
			background-color: $white;

			.slider_ctrl {
				position: absolute;
			}

			.news_item {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				height: 17.2rem;
				padding: 1.5rem 2rem;
				border: 1px solid $border-color;
				border-radius: 2rem;

				.news_badge {
					flex: 0 0 auto;

					span {
						flex: 0 0 auto;
						display: inline-block;
						padding: 0 1.2rem;
						border-radius: 2.8rem;
						color: $white;
						font-weight: 500;
						font-size: 1.3rem;
						line-height: 2.6rem;
						background-color: $secondary;
					}
				}

				.news_tit {
					@include text_ellipsis(4, 2rem);
					flex: 1;
					letter-spacing: -.02em;
				}

				.news_date {
					flex: 0 0 auto;
					color: $gray;
					font-size: 1.3rem;
					line-height: 1.6rem;
					letter-spacing: -.02em;
				}
			}

			&:not(.swiper-initialized) {
				.swiper-wrapper {
					display: flex;
					width: calc(100% + 2rem);
					margin: 0 -1rem;

					.swiper-slide {
						flex: 0 0 calc(25% - 2rem);
						margin: 0 1rem;
					}
				}
			}
		}
	}
}