// 
// Forms
// 


.form_control {
	max-width: 100%;
	height: $form-height;
	border: 1px solid $border-color;
	border-radius: .6rem;
	padding: .5rem $spacing;
	color: #181A1B;
	font-size: $font-size-base;
	line-height: $form-height - 1.2rem;
	appearance: none;
	text-align: left;
	background: #fff;
	vertical-align: middle;

	transition-duration: .2s;
	transition-property: color, border-color, box-shadow;
	will-change: color, border-color, box-shadow;

	&::-ms-clear {
		display: none;
	}

	&.full {
		width: 100% !important;
	}

	&.inline {
		width: auto !important;
	}

	&.is_invalid {
		border-color: $invalid;

		&:focus {
			outline-color: $invalid;
		}
	}

	&:focus {
		position: relative;
		outline: 1px solid $primary;
		outline-offset: -1px;
	}

	&::-webkit-input-placeholder {
		color: $placeholder-color;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: $placeholder-color !important;
		opacity: 1;
	}

	&:disabled {
		color: $disabled-color;
		background-color: #f3f5f6;
		opacity: 1;

		&::-ms-value {
			color: $disabled-color !important;
		}
	}

	&[readonly] {
		color: #66707A;
		background-color: #F9FAFB;
		opacity: 1;
		cursor: default;

		&::-ms-value {
			color: #66707A !important;
		}
	}
}

input[type=text]:not(.form_datepicker),
input[type=password] {
	&.is_invalid {
		background: url(#{$url-img-common}/ico_invalid.png) no-repeat right 10px center;
	}
}

input[type=date] {
	position: relative;
	background: $white url(#{$url-img-common}/ico_calendar.png) no-repeat right 1.5rem center;

	&::-webkit-calendar-picker-indicator {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: transparent;
		background: transparent;
	}
}

.form_datepicker {
	padding-right: 4rem;
	background: $white url(#{$url-img-common}/ico_calendar.png) no-repeat right 1.5rem center;
}

select.form_control {
	max-width: 100%;
	line-height: normal;
	padding-right: 3.5rem;
	background: #fff url(#{$url-img-common}/ico_chevron_down.png) no-repeat right 1rem center;

	&:disabled {
		background-image: url(#{$url-img-common}/ico_chevron_down_disabled.png);
	}

	&::-ms-expand {
		display: none;
	}
}

textarea.form_control {
	height: auto;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	overflow: auto;
	line-height: inherit;
	resize: none;
}

.text_invalid {
	margin: .5rem 0 0 .5rem;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.4rem;
	letter-spacing: -.005em;
}

.check_area {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem 2.2rem;

	&.type2 {
		flex-wrap: nowrap;
		gap: 0;

		.check_item {
			input:checked {
				+label {
					position: relative;
					z-index: 1;
				}
			}

			&:first-child {
				input {
					+label {
						border-radius: .2rem 0 0 .2rem;
					}
				}
				
			}

			&:last-child {
				input {
					+label {
						border-radius: 0 .2rem .2rem 0;
					}
				}
			}

			+.check_item {
				margin-left: -.1rem;
			}
		}
	}
}

.check_item {
	position: relative;

	input {
		$size: 2rem;

		&[type=checkbox],
		&[type=radio] {
			position: absolute;
			width: 1px;
			height: 1px;
			opacity: 0;

			+label {
				position: relative;
				color: #555;

				&:before {
					content: '';
					box-sizing: border-box;
					display: inline-block;
					width: $size;
					height: $size;
					border: .2rem solid #A8B3BD;
					vertical-align: middle;
					border-radius: .4rem;
					margin: -.2rem .5rem 0 0;
					cursor: pointer;

					transition-duration: .2s;
					transition-property: border-color, box-shadow, background-color;
					will-change: border-color, box-shadow, background-color;
				}
			}

			&:disabled {
				+label {
					color: #8E8E8E;

					&:before {
						border-color: rgba(168, 179, 189, .4);
						box-shadow: none;
					}
				}
			}
		}

		&[type=checkbox] {
			&:checked {
				+label {
					&:before {
						border-color: transparent;
						background: $primary url(#{$url-img-common}/ico_checkbox_checked.png) no-repeat 50% 50%;
					}
				}

				&:disabled {
					+label {
						&:before {
							background-color: rgba(0, 148, 211, .4);
						}
					}
				}
			}
		}

		&[type=radio] {
			+label {
				&:before {
					border-radius: 50%;
				}
			}

			&:checked {
				+label {
					&:before {
						border-color: $primary;
						background: $white url(#{$url-img-common}/ico_radio_checked.png) no-repeat 50% 50%;
					}
				}

				&:disabled {
					+label {
						&:before {
							background-image: url(#{$url-img-common}/ico_radio_checked_disabled.png);
						}
					}
				}
			}
		}
	}
}

.check_item_custom {
	input[type=radio],
	input[type=checkbox] {
		+label {
			display: inline-flex;
			align-items: center;
			position: relative;
			height: 3.6rem;
			padding: 0 2rem;
			border: 1px solid #E2E2E2;
			border-radius: 0;
			color: #121212;
			background-color: $white;
			cursor: pointer;

			&:before {
				display: none;
			}
		}

		&:checked {
			+label {
				border-color: $primary;
				color: $primary;
				text-shadow: 0 0 .07rem $primary;
			}
		}
	}
}

.check_item_switch {
	display: inline-flex;
	align-items: center;

	input[type=radio],
	input[type=checkbox] {
		+label {
			display: inline-flex;
			width: 4.4rem;
			height: 2.4rem;
			border-radius: 1.6rem;
			background-color: #A8B3BD;
			transition: background-color .2s ease;


			&:before {
				display: none;
			}

			&:after {
				content: '';
				position: absolute;
				top: 2px;
				left: 2px;
				width: 2rem;
				height: 2rem;
				border-radius: 50%;
				background-color: $white;
				transition: .2s ease;
			}
		}

		&:checked {
			+label {
				background-color: $primary;

				&:after {
					left: calc(100% - .2rem);
					transform: translateX(-100%);
				}
			}
		}
	}
}

.input_group {
	display: flex;
	align-items: center;

	.form_control {
		+.form_control {
			margin-left: 1rem;
		}
	}

	.text {
		flex: 0 0 auto;
		padding: 0 .5rem;
		color: #525960;
	}

	.input_addon {
		padding-left: 1rem;

		.v_btn {
			+.v_btn {
				margin-left: 1rem;
			}
		}
	}
}

.form_row {
	display: flex;
	align-items: center;

	>.input_item {
		display: flex;
		align-items: center;
		flex: 1;
		max-width: 50%;

		>.form_label {
			flex: 0 0 auto;
			max-width: 15rem;
			margin-right: 1.9rem;
			font-weight: 500;
		}

		>.form_control {
			width: 100%;

			+.form_control {
				margin-left: 1.2rem;
			}
		}

		>.input_group {
			width: 100%;

			.form_control {
				width: 100%;
			}

			.check_area {
				flex: 0 0 auto;
			}
		}

		>.check_area {
			width: 100%;
		}
	}

	+.form_row {
		margin-top: 1rem;
	}
}

.form_col {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	>.input_item {
		display: flex;
		flex-direction: column;

		>.form_label {
			margin-bottom: .5rem;
		}

		.file_attatch {
			width: 100%;
		}
	}

	&.type2 {
		gap: 0;

		>.input_item {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: .5rem;
			padding: 1rem 0;

			>.form_label {
				flex: 1;
				margin-bottom: 0;
				text-align: left;
			}

			+.input_item {
				border-top: 1px solid $border-color;
			}
		}
	}

	&.type3,
	&.type4 {
		>.input_item {
			align-items: center;
			flex-direction: row;
			min-height: 2.4rem;

			>.form_label {
				flex: 0 0 auto;
				margin-right: 3rem;
				margin-bottom: 0;
				color: #181A1B;
				font-weight: 500;
			}
		}

		.file_attatch {
			.input_group {
				.file_name {
					width: 100%;
				}
			}
		}
	}

	&.type4 {
		>.input_item {
			>.form_label {
				width: 12rem;
				margin-right: 1rem;
				color: $default;
			}

			>.form_control,
			>.input_group,
			>.check_area {
				flex: 1;
			}

			>.input_group {
				.form_control {
					flex: 1;
				}
			}
		}
	}
}

.col {
	&_1 {
		flex: 0 0 8.333333% !important;
		max-width: 8.333333% !important;
	}

	&_2 {
		flex: 0 0 16.666667% !important;
		max-width: 16.666667% !important;
	}

	&_3 {
		flex: 0 0 25% !important;
		max-width: 25% !important;
	}

	&_4 {
		flex: 0 0 33.333333% !important;
		max-width: 33.333333% !important;
	}

	&_5 {
		flex: 0 0 41.666667% !important;
		max-width: 41.666667% !important;
	}

	&_6 {
		flex: 0 0 50% !important;
		max-width: 50% !important;
	}

	&_7 {
		flex: 0 0 58.333333% !important;
		max-width: 58.333333% !important;
	}

	&_8 {
		flex: 0 0 66.666667% !important;
		max-width: 66.666667% !important;
	}

	&_9 {
		flex: 0 0 75% !important;
		max-width: 75% !important;
	}

	&_10 {
		flex: 0 0 83.333333% !important;
		max-width: 83.333333% !important;
	}

	&_11 {
		flex: 0 0 91.666667% !important;
		max-width: 91.666667% !important;
	}

	&_12 {
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}
}

// Bulletin board

.board_search {
	display: flex;
	align-items: center;
	padding: 2rem;
	border: 1px solid #D8F3FF;
	border-radius: 1rem;
	background-color: #F5FBFE;

	.search_inner {
		flex: 1;
		border-right: 1px solid #A4E1FB;
	}

	.form_row {
		>.input_item {
			padding-right: 3rem;
		}
	}

	.form_control {
		height: 4rem;
	}

	.search_btn {
		display: flex;
		flex: 0 0 auto;
		gap: 1rem;
		height: 100%;
		padding-left: 3rem;
	}

	.btn_search {
		color: $white;
	}

	&.type2 {
		.form_row {
			>.input_item {
				>.form_label {
					width: 15rem;
				}
		
				>.form_control,
				>.input_group,
				>.check_area {
					width: calc(100% - 15rem);
				}
			}
		}
	}
}

.board_info {
	display: flex;
	margin-bottom: .5rem;

	.left {
		margin-right: auto;
	}

	.right {
		margin-left: auto;
	}

	.total_num {
		line-height: 3.6rem;

		.text_primary {
			font-weight: 600;
		}
	}

	.btn_wrap {
		display: flex;
		gap: .5rem;
	}

	.info_wrap {
		display: flex;
		align-items: center;
		font-size: 1.6rem;
		letter-spacing: -.02em;
		line-height: 1.9rem;

		dt {
			color: #525960;
			font-weight: 600;
		}

		dd {
			color: #181A1B;
			font-weight: 500;

			&:before {
				content: '';
				display: inline-block;
				width: 1px;
				height: 1.6rem;
				margin: 0 1rem;
				vertical-align: middle;
				background-color: $border-color;
			}
		}
	}

	&.type2 {
		align-items: flex-end;

		.total_num {
			line-height: initial;
		}

		.btn_wrap {
			gap: .5rem;
		}
	}
}

// File

.file_attatch {
	.form_file {
		display: none;
	}
}

// Page

.v_pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .2rem;
	margin-top: 2rem;

	.form_control {
		width: 8.6rem;
		height: 3.2rem;
		color: #A8B3BD;
		background-image: url(#{$url-img-common}/ico_chevron_down_sm.png);
	}

	a,
	span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 3.2rem;
		height: 3.2rem;
		vertical-align: middle;
	}

	a {
		border-radius: .2rem;
		color: #525960;

		&.active {
			color: $white;
			font-weight: 600;
			background-color: $primary;
		}

		&:not(.active) {
			&:hover,
			&:focus {
				background-color: #f0f0f0;
			}

			&:active {
				background-color: #e0e0e0;
			}
		}
	}
}